<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <mat-nav-list style="margin-top: 70px">
      <button
        style="background-color: orange"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <p>This is Page 1</p>
      <p>This is Page 2</p>
      <p>This is Page 3</p>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>home-tests</span>
    </mat-toolbar>

    <mat-drawer-container autosize>
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
    </mat-drawer-container>

  </mat-sidenav-content>
</mat-sidenav-container>
