.block-left{width:4%;float:left;margin-top: 70px;}
.block-right{width:96%;}

a {
  font-size: large;
  padding: 15px;
}


.con {
  height: 600px;
  width: 600px;
  background-color: aqua;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}